.heading {
  font-size: 40px;
  text-align: center;
  margin-top: 25px;
}

.reviews {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0 10%;
}

.user {
  width: 250px;
  border-radius: 5px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
}

.reviews img {
  width: 100px;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.user-details {
  padding: 0 10%;
}

.user-details .name {
  text-align: center;
  font-weight: 600;
}

.user-details .detail {
  font-weight: 400;
}

.user-details .rating {
  font-weight: 400;
}