.chart {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 50px;
  row-gap: 50px;
  margin-top: 30px;
  padding: 0 10%;
}

.chart h1 {
  text-align: center;
  color: #6666CC;
  margin-bottom: 30px;
}